@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(238, 238, 238);
}

/*-----------------header-------------------*/
header{
    height: 3rem;
}
.title-bar{
    height: 50%;
    display: flex;
    /* Used for debugging and check → 
    outline: 2px solid blue; */
    align-items: center;
    gap: 0.2em;
   
}
.title-svg{
    height: 70%;
    margin-left: 1rem;
}
.title-text{
    font-size: 90%;
    font-weight: 500;
    color: rgb(121, 118, 118);
}
.menu-bar{
    display: flex;
    gap: 0.8rem;
    margin-left: 1rem;
    align-items: center;
    font-size: 0.9rem;
    /* overflow: auto; */
    height: 50%;
}
.menu{
    position: relative;
    cursor: pointer;
}
.menu-items{
    background-color: rgb(206, 205, 205);
    border: 1px solid rgb(96, 95, 95);
    position: absolute;
    border-radius: 6px;
    top:6px;
    cursor: pointer;
    width: 6.5rem;
}
li{
    padding: 0.35rem;
}


/*-----------------main-------------------*/

main{
    height: calc(100vh - 5rem);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.default-img{
    height: 20%;
    
}



/*-----------------footer-------------------*/
footer{
    height: 2rem;
}

